@model AppUserVM
@{
    ViewBag.Title = "LostPassword";
}

@if (ViewBag.Bilgi != null)
{
    <div style="margin-top:60px" class="alert alert-warning text-center">@ViewBag.Bilgi</div>
}
@using (Html.BeginForm("LostPassword", "Register", FormMethod.Post, new { @class = "login" }))
{
    
    <div class="field-wrap">
        @Html.TextBoxFor(x => x.AppUser.Email, new { @placeholder = "Email adresinizi giriniz", @class = "login__input" })
    </div>

    <div class="login__control topPersonal">
        <button type='submit' class="btn btn-md btn--warning btn--wider">Şifremi Sıfırla</button>
    </div>
}

<div class="clearfix"></div>
