@model CategoryVM
@{ ViewBag.Title = "AddCategory";
                Layout = "~/Views/Shared/_Layout.cshtml"; }

<style>
    .field-validation-error {
        color: orangered;
    }
</style>

@using (Html.BeginForm())
{
<div class="row">
    <div class="col-sm-12">
        <section class="panel">
            <header class="panel-heading">
                Kategori Ekleme Sayfası
            </header>
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">İsim</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Category.CategoryName, new { @class = "form-control genislik" })
                        <br />
                        @Html.ValidationMessageFor(x=> x.Category.CategoryName)
                    </div>
                </div>
            </div>


            <br /> <br />
            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Açıklama</label>
                    <div class="col-sm-10">
                        @Html.TextBoxFor(x => x.Category.Description, new { @class = "form-control genislik" })
                    </div>
                </div>
            </div>
            <br /> <br />

            <div class="panel-body">
                <div class="form-group">
                    <label class="col-sm-2 control-label">Ekle</label>
                    <div class="col-sm-10">
                        <button class="btn btn-primary">
                            Ekle
                        </button>
                    </div>
                </div>
            </div>


        </section>
    </div>
</div>}

