@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>OwO</h1>
    <p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p><p>
        We Come to ROCK!!
    </p>
</div>

